<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Analyze Your Text</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Text Utils</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact/">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </nav>

    <div class="alert alert-success alert-dismissible okay" role="alert">
        <strong>Welcome to the Text Utils!</strong> Want to know how your text looks like to the readers? Enter it so we can analyze it for you.
        <button type="button" class="btn-close show" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="container ">
        <form action="analyze/ " method="post" class="mb-3 ">
            <!-- Token to add security to our typed text-->
            {% csrf_token %}
            <p id="wetype" for="exampleFormControlTextarea1" class="form-label "></p>
            <textarea class="form-control " name="text" id="exampleFormControlTextarea1 " rows="12 "></textarea>
            <br>
            <div class="form-check form-switch ">
                <input class="form-check-input " name="removepunc " type="checkbox " id="flexSwitchCheckDefault ">
                <label class="form-check-label " for="flexSwitchCheckDefault ">Remove Punctuations</label>
            </div>

            <div class="form-check form-switch ">
                <input class="form-check-input " name="fullcaps " type="checkbox " id="flexSwitchCheck1 ">
                <label class="form-check-label " for="flexSwitchCheckDefault ">UPPERCASE</label>
            </div>

            <div class="form-check form-switch ">
                <input class="form-check-input " name="charcount " type="checkbox " id="flexSwitchCheck2 ">
                <label class="form-check-label " for="flexSwitchCheckDefault ">Character Count</label>
            </div>

            <div class="form-check form-switch ">
                <input class="form-check-input " name="newlineremover " type="checkbox " id="flexSwitchCheck3 ">
                <label class="form-check-label " for="flexSwitchCheckDefault ">New Line Remover</label>
            </div>

            <div class="form-check form-switch ">
                <input class="form-check-input " name="extraspaceremove " type="checkbox " id="flexSwitchCheck4 ">
                <label class="form-check-label " for="flexSwitchCheckDefault ">Remove Extra Spaces</label>
            </div>

            <br>
            <button type="submit" class="btn btn-success">Analyze Text</button>

        </form>
    </div>
</body>

<!--<p>{{ name }} lives in {{ place }}</p>-->

</body>

<style>
    .fade {
        display: none;
    }
    
    p {
        margin-top: 15px;
    }
</style>

<script>
    $('.show').click(function() {
        $('.okay').toggleClass('fade');
    });

    var i = 0;
    var txt = 'Enter your text and let Text Utils do the magic for you!';
    var speed = 50;

    document.addEventListener("DOMContentLoaded", typeWriter());

    function typeWriter() {
        if (i < txt.length) {
            document.getElementById("wetype").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
    }
</script>

</html>